<a href="https://colab.research.google.com/github/zhiyingproject/toolkit-machineLearning/blob/main/pandasExercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This note book lists the exercises for practising **pandas**

1. Series

In [1]:
import pandas as pd
import numpy as np

About **Pandas Series**

In [ ]:
# Create a pandas series
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([2,4,5,7,8])
# Convert the series to a python list
lst = s1.to_list()
# Show the dataset's type
print(type(s1))
# Add, subtrace, multiple and divide two Pandas' 
s_s = s1 - s2
s_m = s1 * s2
s_d = s1 / s2

# Compare the elements of the two Pandas Series
print(s1 == s2)
print(s1 > s2)
print(s1 < s2)

# Convert a dictionary/numpy array to a Pandas series
dict1 = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
lst = np.array([10, 20, 30])
s_dict = pd.Series(dict1)
s_lst = pd.Series(lst)

In [ ]:
# Change the data type of a given column or a Series
s = pd.Series(['100', '200', 'python', '300.12', '400'])
s_new = pd.to_numeric(s, errors='coerce')

# Convert the first column of a dataframe as a series
d =  {'col1': [1, 2, 3, 4, 7, 11], 
      'col2': [4, 5, 6, 9, 5, 0], 
      'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(d)
s = df.iloc[:,0]

# Write a Pandas program to convert a given Series to an array.
s_array = s.values

# Write a Pandas program to convert Series of lists to one Series
s1 = pd.Series([["Red", "Green", "White"],["Red", "Black"], ["Yellow"]])
s_flat = s1.apply(pd.Series).stack().reset_index(drop=True)

# Write a Pandas program to sort a given Series. 
s = pd.Series(['100', '200', 'python', '300.12', '400'])
s_sorted = s.sort_values()

# Write a Pandas program to add some data to an existing Series
s = pd.Series(['100', '200', 'python', '300.12', '400'])
new_s = s.append(pd.Series(['500','PHP']))

## Write a Pandas program to create a subset of a given series based on 
# value and condition.
s = pd.Series([1,2,3,4,5,6,7,8,9,10])
n = 6
s_cut = s[s < n]

## Write a Pandas program to change the order of index of a given series.
s = pd.Series([1,2,3,4,5], index=['A','B','C','D','E'])
s = s.reindex(index = ['B','A','C','D','E'])

In [2]:
# Write a Pandas program to create the mean and standard deviation of the data of a given Series. 
s = pd.Series([1,2,3,4,5,6,7,8,9,5,3])
mean = s.mean()
std = s.std()

## Write a Pandas program to get the items of a given series not present in another given series. 
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([2,4,6,8,10])
s_diff = s1[~s1.isin(s2)]

# Write a Pandas program to get the items which are not common of two given series
s_diff2 = pd.Series(np.union1d(s1[~s1.isin(s2)], s2[~s2.isin(s1)]))
# or
sr11 = pd.Series(np.union1d(sr1, sr2))
sr22 = pd.Series(np.intersect1d(sr1, sr2))
result = sr11[~sr11.isin(sr22)]

## Write a program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series. 
num_state

0     1
1     3
2     5
3     6
4     8
5    10
dtype: int64