<a href="https://colab.research.google.com/github/zhiyingproject/toolkit-machineLearning/blob/main/pandasExercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This note book lists the exercises for practising **pandas**

1. Series

In [8]:
import pandas as pd
import numpy as np

About **Pandas Series**

In [9]:
# Create a pandas series
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([2,4,5,7,8])
# Convert the series to a python list
lst = s1.to_list()
# Show the dataset's type
print(type(s1))
# Add, subtrace, multiple and divide two Pandas' 
s_s = s1 - s2
s_m = s1 * s2
s_d = s1 / s2

# Compare the elements of the two Pandas Series
'''print(s1 == s2)
print(s1 > s2)
print(s1 < s2)'''

# Convert a dictionary/numpy array to a Pandas series
dict1 = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
lst = np.array([10, 20, 30])
s_dict = pd.Series(dict1)
s_lst = pd.Series(lst)

<class 'pandas.core.series.Series'>
0    10
1    20
2    30
dtype: int64

In [11]:
# Change the data type of a given column or a Series
s = pd.Series(['100', '200', 'python', '300.12', '400'])
s_new = pd.to_numeric(s, errors='coerce')
print(s_new)

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64